{% extends "layout.html" %}
{% block content %}
<div class="container px-4 py-1" id="home_page">
    <p class="p-2 content-section bg-light main-description">
        This webpage illustrates minimal usage of a Debts & Credits Recording module, which is part of a larger
        bookkeeping app, <a href="{{root_domain}}" target="_blank" class="text-decoration-none"><em>Tradepally</em></a>.
        {# The
        module is used to keep simple but detailed and dynamic record of debtors and creditors for individual, business,
        or organisation.#} I recently exposed the module for use in another project via an API and decided to put up a
        glympse here. The module's full functionality includes more indebt operations, like: linking debtor to creditor
        and vice versa, and linking either to other users on the platform who can assent to txns meant for them, thereby
        adding a layer of legitimacy, among other features. The complete code for
        this project is at <a href="https://github.com/traderstechie/DebtsCredits" target="_blank"
            class="text-decoration-none"><em>This GitHub Repo</em></a>.
    </p>
    <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="content-section bg-secondary text-white container-fluid">
                <h3 class="text-dark p-1">Featured Profile</h3>
                <table class="table-responsive">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set curr = dcp_data[lcl.primary_currency_d] %}
                        {% set r_c = dcp_data[lcl.payables_and_receivables_d] %}
                        <tr>
                            <td>Name</td>
                            <td><strong>{{ dcp_data[lcl.name] }}</strong></td>
                        </tr>
                        <tr>
                            <td>ID</td>
                            <td><small>{{ dcp_data[lcl.id] }}</small></td>
                        </tr>
                        <tr>
                            <td>Currency</td>
                            <td><strong>{{ curr[lcl.name] }} ({{ curr[lcl.symbol] }})</strong></td>
                        </tr>
                        <tr>
                            <td>Created On</td>
                            <td><strong>{{ datetime.fromisoformat(dcp_data[lcl.created_on]).strftime('%a, %d-%b-%Y')
                                    }}</strong></td>
                        </tr>
                        <tr>
                            <td>Created Via</td>
                            <td><strong>{{ dcp_data[lcl.created_via] }}</strong></td>
                        </tr>
                        <tr>
                            <td>Debtors</td>
                            <td><strong>{{ dcp_data[lcl.num_of_debtors] }}</strong></td>
                        </tr>
                        <tr>
                            <td>Creditors</td>
                            <td><strong>{{ dcp_data[lcl.num_of_creditors] }}</strong></td>
                        </tr>
                        <tr>
                            <td>Payable</td>
                            <td><strong>{{ utils.two_decimals(r_c[lcl.total_payables]) }}</strong></td>
                        </tr>
                        <tr>
                            <td>Receivable</td>
                            <td><strong>{{ utils.two_decimals(r_c[lcl.total_receivables]) }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="content-section bg-secondary text-white container-fluid">
                <h3 class="text-dark p-1">Debtors & Creditors</h3>
                <p>
                    All the items displayed via the <strong>Debtors</strong> and
                    <strong>Creditors</strong> buttons below were added using the API for
                    the featured profile. You can add new ones via the <strong>Add Debtor</strong>
                    or <strong>Add Creditor</strong> buttons to test it for yourself.
                    <br> <br>
                </p>
                <div class="container text-center">
                    <a type="button" class="btn btn-sm btn-outline-light m-1 moreOptionAnchor"
                        data-target="#debtorsList">Debtors</a>
                    <a type="button" class="btn btn-sm btn-outline-light m-1 moreOptionAnchor"
                        data-target="#creditorsList">Creditors</a>
                    <a type="button" class="btn btn-sm btn-outline-light m-1 moreOptionAnchor"
                        data-target="#addDebtor">Add Debtor</a>
                    <a type="button" class="btn btn-sm btn-outline-light m-1 moreOptionAnchor"
                        data-target="#addCreditor">Add Creditor</a>
                    <hr>
                    <div class="moreOptionContent table-responsive bg-dark" hidden id="debtorsList">
                        <h6>List of Debtors</h6>
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <th>Name</th>
                                    <th>ID</th>
                                    <th>Num of Tnxs</th>
                                    <th>Debts</th>
                                    <th>Payments</th>
                                    <th>Balance</th>
                                    <th>Created On</th>
                                    <th>Created Via</th>
                                </thead>
                                <tbody>
                                    {% for deb in reversed(dcp_data[lcl.debtors]) %}
                                    <tr class="no-nth-bg">
                                        <td>{{ deb[lcl.name] }}</td>
                                        <td>{{ deb[lcl.id] }}</td>
                                        <td>{{ deb[lcl.num_of_transactions] }}</td>
                                        <td>{{ utils.two_decimals(deb[lcl.total_debts]) }}</td>
                                        <td>{{ utils.two_decimals(deb[lcl.total_payments]) }}</td>
                                        <td>{{ utils.two_decimals(deb[lcl.current_book_balance]) }}</td>
                                        <td>{{ datetime.fromisoformat(deb[lcl.created_on]).strftime('%a, %d-%b-%Y') }}
                                        </td>
                                        <td>{{ deb[lcl.created_via] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="moreOptionContent table-responsive bg-dark" hidden id="creditorsList">
                        <h6>List of Creditors</h6>
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <th>Name</th>
                                    <th>ID</th>
                                    <th>Num of Tnxs</th>
                                    <th>Credits</th>
                                    <th>Payments</th>
                                    <th>Balance</th>
                                    <th>Created On</th>
                                    <th>Created Via</th>
                                </thead>
                                <tbody>
                                    {% for cred in reversed(dcp_data[lcl.creditors]) %}
                                    <tr class="no-nth-bg">
                                        <td>{{ cred[lcl.name] }}</td>
                                        <td>{{ cred[lcl.id] }}</td>
                                        <td>{{ cred[lcl.num_of_transactions] }}</td>
                                        <td>{{ utils.two_decimals(cred[lcl.total_credits]) }}</td>
                                        <td>{{ utils.two_decimals(cred[lcl.total_payments]) }}</td>
                                        <td>{{ utils.two_decimals(cred[lcl.current_book_balance]) }}</td>
                                        <td>{{ datetime.fromisoformat(cred[lcl.created_on]).strftime('%a, %d-%b-%Y') }}
                                        </td>
                                        <td>{{ cred[lcl.created_via] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="moreOptionContent text-dark" hidden id="addDebtor">
                        <h5>Add New Debtor</h5>
                        <form action="{{ url_for('mainapp.create_debtor_or_creditor') }}" method="post"
                            class="content-section-mini">
                            <!-- Hidden Inputs -->
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="{{lcl.creating}}" value="{{lcl.debtor}}">

                            <!-- User Inputs -->
                            <div>
                                <label for="">Debtor Name</label>
                                <input type="text" name="name" required class="form-control">
                                <br>
                            </div>
                            <div>
                                <label for="">DC Profile ID</label>
                                <input type="text" name="creditor_dc_profile_id" required class="form-control"
                                    value="{{ dcp_data[lcl.id] }}">
                                <br>
                            </div>
                            <div>
                                <label for="">User Password</label>
                                <input type="password" name="user_password" required class="form-control"
                                    value="{{user_password}}">
                                <br>
                            </div>
                            <div>
                                <label for="">User Pin (Optional)</label>
                                <input type="password" name="user_pin" class="form-control" value="{{user_pin}}">
                                <br>
                            </div>
                            <div>
                                <input type="submit" class="btn btn-sm btn-info" value="Proceed">
                            </div>
                        </form>
                    </div>
                    <div class="moreOptionContent text-dark" hidden id="addCreditor">
                        <h5>Add New Creditor</h5>
                        <form action="{{ url_for('mainapp.create_debtor_or_creditor') }}" method="post"
                            class="content-section-mini">
                            <!-- Hidden Inputs -->
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="{{lcl.creating}}" value="{{lcl.creditor}}">

                            <!-- User Inputs -->
                            <div>
                                <label for="">Creditor Name</label>
                                <input type="text" name="name" required class="form-control">
                                <br>
                            </div>
                            <div>
                                <label for="">DC Profile ID</label>
                                <input type="text" name="debtor_dc_profile_id" required class="form-control"
                                    value="{{ dcp_data[lcl.id] }}">
                                <br>
                            </div>
                            <div>
                                <label for="">User Password</label>
                                <input type="password" name="user_password" required class="form-control"
                                    value="{{user_password}}">
                                <br>
                            </div>
                            <div>
                                <label for="">User Pin (Optional)</label>
                                <input type="password" name="user_pin" class="form-control" value="{{user_pin}}">
                                <br>
                            </div>
                            <div>
                                <input type="submit" class="btn btn-sm btn-info" value="Proceed">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="content-section bg-secondary text-white container-fluid">
                <h3 class="text-dark p-1">Transactions</h3>
                <p>
                    There can be <strong>Debt, Credit, Debt Payment, and Credit Payment transactions</strong>. A debt
                    txn represents money you received from a creditor and credit txn represents money you gave to a
                    debtor. And on the flip side, a debt payment txn reps payment you made to a creditor and credit
                    payment reps money a debtor paid to you.
                </p>
                <div class="container text-center">
                    <a type="button" class="btn btn-sm btn-outline-light m-1 moreOptionAnchor"
                        data-target="#transactionsList">Transactions</a>
                    <a type="button" class="btn btn-sm btn-outline-light m-1 moreOptionAnchor"
                        data-target="#addTransaction">Add Transaction</a>
                    <hr>
                    <div class="moreOptionContent table-responsive bg-dark" hidden id="transactionsList">
                        <h6>List of Last 50 Transactions</h6>
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Amount ({{ curr[lcl.symbol] }})</th>
                                    <th>Means</th>
                                    <th>Narration</th>
                                    <th>Other Party</th>
                                    <th>Posted (UTC)</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    {% for dc_tr in reversed(dcp_data[lcl.transactions]) %}
                                    <tr class="no-nth-bg">
                                        <td>{{ datetime.fromisoformat(dc_tr[lcl.transaction_date]).strftime('%d/%b/%Y')
                                            }}</td>
                                        <td>{{ dc_tr[lcl.transaction_mode_for_display] }}</td>
                                        <td>{{ utils.two_decimals(dc_tr[lcl.amount]) }}</td>
                                        <td>{{ dc_tr[lcl.means_of_payment] }}</td>
                                        <td>{{ dc_tr[lcl.narration] }}</td>
                                        <td>{{ dc_tr[lcl.other_party_name] }}</td>

                                        <td>{{ datetime.fromisoformat(dc_tr[lcl.datetime_posted]).strftime('%d/%b/%Y,
                                            %H:%M:%S') }}</td>

                                        <td>{{ dc_tr[lcl.created_via] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="moreOptionContent text-dark" hidden id="addTransaction">
                        <h5>Add New Transaction</h5>
                        <form action="{{ url_for('mainapp.create_debts_credits_transaction') }}" method="post"
                            class="content-section-mini">
                            <!-- Hidden Inputs -->
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="{{lcl.dc_profile_id}}" value="{{dcp_data[lcl.id]}}">
                            <!-- User Inputs -->
                            <div>
                                <label for="">Date <small>(Optional)</small></label>
                                <input type="datetime-local" name="transaction_date" class="form-control">
                                <br>
                            </div>
                            <div>
                                <label for="">Txn Object Type</label>
                                <select name="object_type" required class="form-control">
                                    <option value="">Select</option>
                                    <option value="{{ccl.DEBTOR}}">{{ccl.DEBTOR}}</option>
                                    <option value="{{ccl.CREDITOR}}">{{ccl.CREDITOR}}</option>
                                </select>
                                <br>
                            </div>
                            <div>
                                <label for="" id="other_party_id_label">Txn Object</label>
                                <input type="text" name="other_party_id" required id="other_party_id"
                                    class="form-control">
                                <br>
                            </div>
                            <div>
                                <label for="">Txn Mode</label>
                                <select name="transaction_mode" required id="transaction_mode" class="form-control">
                                    <!-- DYNAMICALLY POPULATED -->
                                </select>
                                <br>
                            </div>
                            <div>
                                <label for="">Amount</label>
                                <input type="number" name="amount" required class="form-control">
                                <br>
                            </div>
                            <div>
                                <label for="">Means of Payment</label>
                                <input type="text" name="means_of_payment" required maxlength="50" class="form-control">
                                <br>
                            </div>
                            <div>
                                <label for="">Narration <small>(Optional)</small></label>
                                <input type="text" name="narration" maxlength="100" class="form-control">
                                <br>
                            </div>
                            <div>
                                <label for="">User Password</label>
                                <input type="password" name="user_password" required class="form-control"
                                    value="{{user_password}}">
                                <br>
                            </div>
                            <div>
                                <label for="">User Pin (Optional)</label>
                                <input type="password" name="user_pin" class="form-control" value="{{user_pin}}">
                                <br>
                            </div>
                            <div>
                                <input type="submit" class="btn btn-sm btn-info" value="Proceed">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var home_page = true;
</script>
{% endblock content %}