<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Custome CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css', version=commit_hash) }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    {% if title %}
    <title>Debts Credits - {{ title }}</title>
    {% else %}
    <title>Debts Credits</title>
    {% endif %}

    <meta name="description" content="This webpage illustrates minimal usage of a Debts & Credits Recording module, 
    which is part of a larger bookkeeping app, Tradepally. I recently exposed the module for use in another project 
    via an API and decided to put up a glympse here. The module's full functionality includes more indebt operations, 
    like: linking debtor to creditor and vice versa, and linking either to other users on the platform who can 
    assent to txns meant for them, thereby adding a layer of legitimacy, among other features. The complete code for 
    this project is on my GitHub: @tradersTechie.">
</head>

<body>
    <div class="container">
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <!-- Main title/logo inside header -->
            <!-- <div class="col-md-4 text-start left-nav">
                <button type="button" class="btn align-items-center mb-2 ms-2">
                    <a href="{{ url_for('mainapp.home') }}" class="text-white text-decoration-none">
                        <strong>TRADEPALLY DEBTS CREDITS API USAGE</strong>
                    </a>
                </button>
            </div> -->
            <div class="col-md-4 text-start left-nav">
                <button type="button" class="btn align-items-center m-2 ms-2">
                    <a href="{{ url_for('mainapp.home') }}" class="text-white text-decoration-none">
                        <strong>TRADEPALLY DEBTS CREDITS API USAGE</strong>
                    </a>
                </button>
            </div>

            <!-- Main navigations inside header -->
            <!-- <div class="col-md-4 text-end right-nav">
                <button type="button" class="btn btn-sm btn-outline-light me-2">
                    <a class="nav-link px-2" href="{{root_domain}}/api/v1/ui" target="_blank">Live Docs</a>
                </button>
                <button type="button" class="btn btn-sm btn-outline-light me-2">
                    <a class="nav-link px-2" href="{{root_domain}}" target="_blank">Tradepally</a>
                </button>
                <button type="button" class="btn btn-sm btn-outline-light me-4">
                    <a class="nav-link px-2" href="https://x.com/traderstechie" target="_blank">Me On X</a>
                </button>
            </div> -->
            <div class="col-md-4 text-end right-nav">
                <div class="me-2">
                    <button type="button" class="btn btn-sm btn-outline-light ms-4 me-2">
                        <a class="nav-link px-2" href="{{root_domain}}/api/v1/ui" target="_blank">Live Docs</a>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-light me-2">
                        <a class="nav-link px-2" href="{{root_domain}}" target="_blank">Tradepally</a>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-light me-2">
                        <a class="nav-link px-2" href="https://x.com/traderstechie" target="_blank">Me On X</a>
                    </button>
                </div>
            </div>
        </header>
    </div>

    <main role="main" class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <!--Block Content-->
        {% block content %}
        {% endblock %}
    </main>

    <footer class="container">
        <div class="text-center py-2 mb-3">
            <strong>
                <em>THANK YOU FOR CHECKING THIS OUT! FIND ME ON X:
                    <button type="button" class="btn btn-outline-light">
                        <a href="https://x.com/traderstechie" target="_blank"
                            class="text-dark text-decoration-none"><b>@tradersTechie</b></a>
                    </button>
                </em>
            </strong>
        </div>
    </footer>

    <!-- JavaScript -->
    <!-- JQuery first, then Bootstrap JS bundle (Popper included) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <!-- Load Custom JS main.js first -->
    <script src="{{ url_for('static', filename='main.js', version=commit_hash) }}"> </script>
</body>

</html>

<script>
    var ccl = {{ ccl_dict | safe }};
    var lcl = {{ lcl_dict | safe }};
</script>